<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">{{pageTitle}}</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <a ng-click="loginButton()" class="btn btn-success">Login </a>
                <a ng-click="registerButton()" class="btn btn-danger">Register</a>
            </div>

        </div>
        <div class="col-md-4"></div>

    </div>
</div>