header, footer, h1{
    text-align: center;
}

footer p {
    margin-top: 1%;
    color: #5cb85c;
    margin-bottom: 0;
}
.navbar.navbar-inverse{
    margin: 0;
}
.panel-title{
    text-align: center;
}

.panel.panel-success, .panel.panel-warning{
    margin: 12%;
}

form .align-center {
    margin-left: 43%;
}

.ng-invalid.ng-dirty{
    border: 1px solid red;
}
