/* app css stylesheet */
.panel-title, h1 {
    text-align: center;
}

.form-group {
    margin: 0 15px;
}

table {
    width: 600px;
}

.fixed-description {
    width: 500px;
}

.due-date {
    width: 100px;
}

.container {
    margin: 0;
}

.center-block {

    width: 150px;
    height: auto;
}

a {
    margin-top: 20px;
}

footer p {
    margin-top: 15px;
    text-align: center;
    color: #f9f2f4;
}