<!--register page-->
<!--TODO: add adar form in register liable-->
<form class="form-horizontal" role="form" name="registerForm">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Register</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-1 col-sm-offset-3 control-label"><span
                                class="glyphicon glyphicon-user"></span></label>
                        <div class="col-sm-5">
                            <input type="text" ng-model="registerUser.username" required="required" placeholder="Username" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 col-sm-offset-3 control-label"><span
                                class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-sm-5">
                            <input type="password" ng-model="registerUser.password" minlength="6" maxlength="100" pattern=".{6,}" required="required" placeholder="Password" class="form-control"/>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 col-sm-offset-3 control-label"><span
                                class="glyphicon glyphicon-envelope"></span></label>
                        <div class="col-sm-5">
                            <input type="email" ng-model="registerUser.email" required="required" placeholder="Email" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-sm-1 col-sm-offset-3 control-label"><span
                                class="glyphicon glyphicon-phone"></span></label>
                        <div class="col-sm-5">
                            <input type="tel" ng-model="registerUser.phoneNumber" required="required" placeholder="Phone Number" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 col-sm-offset-3 control-label"><span
                                class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-sm-5">
                            <input type="password" ng-model="registerUser.confirmPassword" ng-pattern="/^{{registerUser.password}}$/" required="required" placeholder="Confirm Password" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 col-sm-offset-3 control-label"><span
                                class="glyphicon glyphicon-sunglasses"></span></label>
                        <div class="col-sm-5">
                            <input type="radio" ng-model="registerUser.gender" name="reg-gender" value="1">Male
                            <input type="radio" ng-model="registerUser.gender" name="reg-gender" value="2">Female
                            <input type="radio" ng-model="registerUser.gender" name="reg-gender" value="0">Other
                        </div>
                    </div>

                </div>
            </div>

            <br/>
            <div class="align-center">
                <input type="submit"  ng-click="register(registerUser)" class="btn btn-default" value="Register"/>
                &nbsp;or&nbsp;
                <a href="#/login"><input type="submit" class="btn btn-danger" value="Login"/></a>
            </div>
        </div>
    </div>
</form>