<!DOCTYPE html>
<html lang="en" ng-app="issueTracerApp">
<head>
    <meta charset="UTF-8">
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div nav-login-header-directive ng-if="!isLogin" />
<div home-login-page-directive ng-if="!isLogin" />
<div id="wrapper">
    <div ng-view />
</div>


<footer>
    <div class="navbar navbar-inverse">
        <p>&copy; 2014 by Software University Foundation, No Rights Reserved</p>
    </div>
</footer>
<script src="node_modules/jquery/dist/jquery.js"></script>

<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/angular-resource/angular-resource.js"></script>
<script src="node_modules/angular-local-storage/dist/angular-local-storage.js"></script>

<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

<script src="js/app.js"></script>

<script src="js/controllers/HomeController.js"></script>
<script src="js/controllers/LoginController.js"></script>
<script src="js/controllers/RegisterController.js"></script>
<script src="js/controllers/LogoutController.js"></script>
<script src="js/controllers/ValidatorController.js"></script>
<script src="js/controllers/user/UserIssueBoardController.js"></script>

<script src="js/directives/login/home-login-page.js"></script>
<script src="js/directives/dashboard.js"></script>

<script src="js/services/data/userData.js"></script>
<script src="js/services/data/userIssueData.js"></script>

<script src="js/services/authentication.js"></script>

</body>
</html>